@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root{
    --color1:#070143;
    --color2:#AC8D68;
    --color3:#0D0925;
    --color4:#66717A;
    --color5:#F7F2EE;
    --color6:#5a5753;
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --gris-claro: #cccccc;
    --gris-oscuro: #333333;
}

body{
    font-family: 'Vidaloka', serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#menu{
    background-color: var(--color1);
}

#menu .fila{
    justify-content: space-between;
}

#menu .menu-barra:nth-child(2) span{
    color: var(--color-blanco);
    font-size: 18px;
    display: block;
    padding: 26px 6px;
    cursor: pointer;
}

#menu .menu-barra:nth-child(2) span:hover{
    color: var(--color2);
    border-top: solid 4px var(--color2);
    padding: 22px 6px;
    margin-top: -4px;
}

#menu .menu-barra:nth-child(2) a{
    color: var(--color-blanco);
    font-size: 18px;
    border-top: solid 4px var(--color2);
    padding: 24px 6px;
    cursor: pointer;
}

#menu .menu-barra:nth-child(2) a:hover{
    color: var(--color2);
}

#buscar{
    color: var(--color-blanco);
    background-color: var(--color2);
    padding: 10px 16px;
    cursor: pointer;
}

#buscar i{
    font-size: 20px;
}

.booking{
    color: var(--color-blanco);
    background-color: var(--color2);
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.booking:hover{
    color: var(--color2);
    background-color: var(--color-blanco);
}

.booking h3{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

#slide{
    position: relative;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#descripcion{
    position: absolute;
    top: 39%;
    left: 15%;
}

#descripcion h2{
    color: var(--color-blanco);
    font-size: 70px;
    font-weight: 700;
}

#slide .booking{
    position: absolute;
    top: 49%;
    left: 44%;
    margin-left: 0;
}

#slide .booking h3{
    font-size: 20px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 15px;
    padding-bottom: 10px;
}

#mision{
    margin-top: 120px;
    margin-bottom: 120px;
}

#mision-main{
    position: relative;
}

#mision-main img{
    padding-top: 40px;
}

#mision-descripcion{
    position: absolute;
    top: 25%;
    left: 0;
    width: 250px;
    height: 360px;
    background-color: var(--color2);
    box-shadow: 0px 0px 0px 12px var(--color-blanco);
    text-align: center;
}

#mision-descripcion h5{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 8px;
    padding-top: 25px;
    font-size: 18px;
    color: var(--color-blanco);
}

#mision-descripcion span{
    font-size: 72px;
    color: var(--color3);
}

#vision{
    background-color: var(--color5);
    margin-top: 40px;
    margin-left: 40px;
    padding: 40px;
    font-family: 'DM Sans', sans-serif;
}

#vision span{
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--color2);
}

#vision h2{
    font-family: 'Vidaloka', serif;
    font-size: 39px;
    padding-top: 10px;
}

#vision p{
    padding-top: 10px;
    padding-bottom: 10px;
}

#vision li{
    color: var(--color6);
    margin-bottom: 15px;
}
#vision li i{
    color: var(--color2);
}

#vision li span{
    font-size: 20px;
    padding-left: 1px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: rgba(172, 141, 104, 0.3);
}

#vision .booking{
    margin-left: 0;
    width: 180px;
}

#vision .booking h3{
    font-size: 15px;
    font-weight: 700;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 18px;
    padding-bottom: 13px;
}

#empleados{
    background-color: var(--color4);
    color: var(--color-blanco);
    padding-top: 70px;
    padding-bottom: 70px;
}

#empleados .container{
    max-width: 1500px;
}

#empleados h2{
    margin: auto;
    margin-bottom: 30px;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--color-blanco);
    padding-bottom: 10px;
    border-bottom: solid 3px var(--color5);
    max-width: max-content;
}

#empleados th{
    color: var(--color1);
    letter-spacing: 1px;
}

#empleados td{
    color: var(--color5);
}

#meet{
    margin-top: 60px;
    margin-bottom: 60px;
}

#meet h2{
    color: #070143;
    text-align: center;
    margin-top: -30px;
    font-size: 40px;
    margin-bottom: 30px;
}

#talent{
    position: relative;
    text-align: center;
    margin: auto;
}

#talent-2{
    position: absolute;
    margin: auto;
    top: 50%;
    left: 41%;
}

#talent-2 span{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--color2);
}

#meet .fila{
    justify-content: center;
}

#meet .persona{
    margin: 20px;
    text-align: center;
    background-color: var(--color2);
}

#meet .meet-descripcion{
    margin-top: 50px;
    padding: 20px;
}

#meet .meet-descripcion h2{
    color: var(--color-blanco);
    font-size: 25px;
    margin-bottom: 2px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

#meet .meet-descripcion h2:hover{
    color: var(--color3);
}

#meet .meet-descripcion span{
    color: var(--color-blanco);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
}

#meet .persona{
    overflow: hidden;
    width: 500px;
}

#meet .persona img{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#meet .persona img:hover{
    transform: scale(1.2); /* agranda la img al pasar el puntero */
    filter: grayscale(40%);
}

#about {
    margin-top: 50px;
    margin-bottom: 50px;
}

#about .col-4{
    display: block;
    max-width: 500px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.menu-barra {
    display: flex;
    align-items: center;
}

.fila{
    display: flex;
}

.columna-50 {
    flex-basis: 50%;
    max-width: 50%;
}
